mixin sidebar()
	aside.sidebar&attributes(attributes)
		.sidebar__sidenav.sidenav
			button.sidenav__title 
				span Каталог
			ul.sidenav__list
				li.sidenav__item
					a.sidenav__link(href="#") Двигатель
				li.sidenav__item
					a.sidenav__link(href="#") Системы выпуска
				li.sidenav__item
					a.sidenav__link(href="#") Подвеска
				li.sidenav__item
					a.sidenav__link(href="#") Колеса
				li.sidenav__item
					a.sidenav__link(href="#") Шины и камеры 
				li.sidenav__item
					a.sidenav__link(href="#") Тормозные системы 
				li.sidenav__item
					a.sidenav__link(href="#") Электрика и зажигание
				li.sidenav__item
					a.sidenav__link(href="#") Световые приборы 
				li.sidenav__item
					a.sidenav__link(href="#") Трансмиссия
				li.sidenav__item
					a.sidenav__link(href="#") Защита
				li.sidenav__item
					a.sidenav__link(href="#") Пластиковые детали
				li.sidenav__item
					a.sidenav__link(href="#") Управление
				li.sidenav__item
					a.sidenav__link(href="#") Фильтры воздушные
				li.sidenav__item
					a.sidenav__link(href="#") Фильтры маслянные
				li.sidenav__item
					a.sidenav__link(href="#") Масла и смазки
				li.sidenav__item
					a.sidenav__link(href="#") Экипировки
				li.sidenav__item
					a.sidenav__link(href="#") Тюнинг
				li.sidenav__item.sidenav__item_alert
					a.sidenav__link(href="#") Акционные товары