mixin new()
	section.new&attributes(attributes)
		h2.new__title.title 
			span новинки
		ul.new__list
			li.new__item
				a.new__link(href="#")
				.new__badge new
				.new__image
					img(src="assets/images/content/product-1.jpg", alt="")

				.new__text Креление тормозного шланга на площадке для стартового номера KTM SX 85 09-12 OEM 54808019100

				.new__bottom
					.new__price 378 
						span.new__price-cur ₽
					a.new__to-cart(href="#") В корзину

			li.new__item
				a.new__link(href="#")
				.new__badge new
				.new__image
					img(src="assets/images/content/product-2.jpg", alt="")

				.new__text Поршень в сборе ATHENA Yamaha YZ 250 99-07 D. 66,34 S4F06640019A

				.new__bottom
					.new__price 6 783 
						span.new__price-cur ₽
					a.new__to-cart(href="#") В корзину

			li.new__item
				a.new__link(href="#")
				.new__badge new
				.new__image
					img(src="assets/images/content/product-3.jpg", alt="")

				.new__text Карбюратор MIKUNI VM22

				.new__bottom
					.new__price 2 750 
						span.new__price-cur ₽
					a.new__to-cart(href="#") В корзину

			li.new__item
				a.new__link(href="#")
				.new__badge new
				.new__image
					img(src="assets/images/content/product-1.jpg", alt="")

				.new__text Креление тормозного шланга на площадке для стартового номера KTM SX 85 09-12 OEM 54808019100

				.new__bottom
					.new__price 378 
						span.new__price-cur ₽
					a.new__to-cart(href="#") В корзину