mixin sales()
	section.sales&attributes(attributes)
		h2.sales__title.title 
			span акции
		ul.sales__list
			li.sales__item
				a.sales__link(href="#")
				.sales__badge акция
				.sales__image
					img(src="assets/images/content/product-1.jpg", alt="")

				.sales__text Креление тормозного шланга на площадке для стартового номера KTM SX 85 09-12 OEM 54808019100

				.sales__bottom
					.sales__price 378 
						span.sales__price-cur ₽
					.sales__priceold 400 
						span.sales__priceold-cur ₽
					a.sales__to-cart(href="#") В корзину

			li.sales__item
				a.sales__link(href="#")
				.sales__badge акция
				.sales__image
					img(src="assets/images/content/product-2.jpg", alt="")

				.sales__text Поршень в сборе ATHENA Yamaha YZ 250 99-07 D. 66,34 S4F06640019A

				.sales__bottom
					.sales__price 6 783 
						span.sales__price-cur ₽
					.sales__priceold 7 000
						span.sales__priceold-cur ₽
					a.sales__to-cart(href="#") В корзину

			li.sales__item
				a.sales__link(href="#")
				.sales__badge акция
				.sales__image
					img(src="assets/images/content/product-3.jpg", alt="")

				.sales__text Карбюратор MIKUNI VM22

				.sales__bottom
					.sales__price 2 750 
						span.sales__price-cur ₽
					.sales__priceold 3 000
						span.sales__priceold-cur ₽
					a.sales__to-cart(href="#") В корзину

			li.sales__item
				a.sales__link(href="#")
				.sales__badge акция
				.sales__image
					img(src="assets/images/content/product-1.jpg", alt="")

				.sales__text Креление тормозного шланга на площадке для стартового номера KTM SX 85 09-12 OEM 54808019100

				.sales__bottom
					.sales__price 378 
						span.sales__price-cur ₽
					.sales__priceold 3 000
						span.sales__priceold-cur ₽
					a.sales__to-cart(href="#") В корзину