@font-face 
	font-family 'Clear Sans'
	src local('Clear Sans'), local('ClearSans'),
		url('../fonts/hinted-subset-ClearSans.woff2') format('woff2'),
		url('../fonts/hinted-subset-ClearSans.woff') format('woff')
	font-weight normal
	font-style normal

@font-face 
	font-family 'Clear Sans'
	src local('Clear Sans Bold'), local('ClearSans-Bold'),
		url('../fonts/hinted-subset-ClearSans-Bold.woff2') format('woff2'),
		url('../fonts/hinted-subset-ClearSans-Bold.woff') format('woff')
	font-weight bold
	font-style normal

@font-face 
	font-family 'Proxima Nova Rg'
	src local('Proxima Nova Bold'), local('ProximaNova-Bold'),
		url('../fonts/hinted-subset-ProximaNova-Bold.woff2') format('woff2'),
		url('../fonts/hinted-subset-ProximaNova-Bold.woff') format('woff')
	font-weight bold
	font-style normal

@font-face 
	font-family 'Proxima Nova Rg'
	src local('Proxima Nova Regular'), local('ProximaNova-Regular'),
		url('../fonts/hinted-subset-ProximaNova-Regular.woff2') format('woff2'),
		url('../fonts/hinted-subset-ProximaNova-Regular.woff') format('woff')
	font-weight normal
	font-style normal

@font-face 
	font-family 'ALS Rubl'
	src local('ALS Rubl'), local('ALSRubl'),
		url('../fonts/hinted-subset-ALSRubl.woff2') format('woff2'),
		url('../fonts/hinted-subset-ALSRubl.woff') format('woff')
	font-weight normal
	font-style normal


$c = 'Clear Sans' , Arial,'Helvetica Neue',Helvetica,sans-serif
$p = 'Proxima Nova Rg' , Arial,'Helvetica Neue',Helvetica,sans-serif
$r = 'ALS Rubl' , Arial,'Helvetica Neue',Helvetica,sans-serif


