mixin services()
	.services&attributes(attributes)
		a.services__service.services__service_rent(href="#link")
			span.services__icon
			span.services__text прокат мотоциклов

		a.services__service.services__service_service(href="#link")
			span.services__icon
			span.services__text мотосервис

		a.services__service.services__service_tour(href="#link")
			span.services__icon
			span.services__text мото туры