mixin slider()
	.slider&attributes(attributes)
		ul.slider__list
			li.slider__item
				a.slider__link(href="#" style="background-image: url('assets/images/content/slider-img.jpg');")
					.slider__content
						h2.slider__title РАСПРОДАЖА KTM OFFROAD 2018
						.slider__text Распродаем KTM Offroad 2018 г. Подробности в салонах продаж
						.slider__button.button подробнее
			li.slider__item
				a.slider__link(href="#" style="background-image: url('assets/images/content/slider-img.jpg');")
					.slider__content
						h2.slider__title РАСПРОДАЖА KTM OFFROAD 2018
						.slider__text Распродаем KTM Offroad 2018 г. Подробности в салонах продаж
						.slider__button.button подробнее
			li.slider__item
				a.slider__link(href="#" style="background-image: url('assets/images/content/slider-img.jpg');")
					.slider__content
						h2.slider__title РАСПРОДАЖА KTM OFFROAD 2018
						.slider__text Распродаем KTM Offroad 2018 г. Подробности в салонах продаж
						.slider__button.button подробнее
			li.slider__item
				a.slider__link(href="#" style="background-image: url('assets/images/content/slider-img.jpg');")
					.slider__content
						h2.slider__title РАСПРОДАЖА KTM OFFROAD 2018
						.slider__text Распродаем KTM Offroad 2018 г. Подробности в салонах продаж
						.slider__button.button подробнее